.list-items {
  cursor: pointer;
  .title {
    transition: 0.5s ease;
    &:hover {
      color: #f44336;
    }
  }
  .subtitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
